

<script type="text/javascript">SyntaxHighlighter.all();</script>
<h2><%= @snippet.title %></h2>
<pre class="brush: ruby;">
 <%= @snippet.snippet %>
</pre>
<br/>
<br/>
<%= link_to 'Edit', edit_snippet_path(@snippet)%>
<%= link_to 'delete', @snippet, :confirm => "Delete?",  :method => :delete%>
